In [1]:
import numpy as np
import pandas as pd

Three datasets:

- nimi pi - a dataset of toki pona words to several possible english translations
- word freq - english words along with part of speech, sorted by frequency. We can approximate this with Zipf's law.
- conceptnetw2v - a word vectorization based on semantic meaning. This will allow us to decide between candidates.

In [2]:
word2vec = pd.read_csv("conceptnetw2v.csv")

In [3]:
freq = pd.read_csv("word-freq-top5000.csv")

In [71]:
toki = pd.read_csv("nimi_pi.csv")

In [5]:
toki[toki.TOKI == 'anpa']

,TOKI,PART_OF_SPEECH,ENG1,ENG2,ENG3,ENG4,ENG5,ENG6,ENG7,ENG8,ENG9,ENG10
19,anpa,adjective,low,lower,bottom,down,NaN,NaN,NaN,NaN,NaN,NaN
20,anpa,adverb,downstairs,below,deep,low,deeply,NaN,NaN,NaN,NaN,NaN
21,anpa,noun,bottom,lower part,under,below,floor,beneath,NaN,NaN,NaN,NaN
22,anpa,verb intransitive,to prostrate oneself,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
freq[freq['Part of speech'] == 'Article']

     Rank   Word Part of speech  Frequency  Dispersion
0       1    the        Article   22038615        0.98
4       5      a        Article   10144200        0.98
24     25    his        Article    1801708        0.95
35     36  their        Article    1083029        0.97
41     42    her        Article     969591        0.91
43     44     my        Article     919821        0.93
68     69   your        Article     659622        0.94
77     78    its        Article     539719        0.96
78     79    our        Article     525107        0.97
92     93     no        Article     402222        0.98
171   172  every        Article     212739        0.97

 freq['Part of speech'].value_counts() ->
 Noun           2543 
 Verb           1001
 Adjective       838
 Adverb          342 <- We will ignore
 Preposition      97
 Pronoun          47
 Conjunction      38
 Measure          35
 Determiner       34
 Exclamation      13
 Article          11  <- We will ignore
 Exception         1  <- We will ignore
 Name: Part of speech, dtype: int64

In [117]:
nouns = freq[freq['Part of speech'] == 'Noun']['Word'].tolist()
verbs = freq[freq['Part of speech'] == 'Verb']['Word'].tolist()
adjcs = freq[freq['Part of speech'] == 'Adjective']['Word'].tolist()
preps = freq[freq['Part of speech'] == 'Preposition']['Word'].tolist()
prons = freq[freq['Part of speech'] == 'Pronoun']['Word'].tolist()
conjs = freq[freq['Part of speech'] == 'Conjunction']['Word'].tolist()
detes = freq[freq['Part of speech'] == 'Determiner']['Word'].tolist()
excls = freq[freq['Part of speech'] == 'Exclamation']['Word'].tolist()
meass = freq[freq['Part of speech'] == 'Measure']['Word'].tolist()

In [120]:
meass[1:10]

['two', 'first', 'last', 'three', 'next', 'million', 'four', 'five', 'second']

In [46]:
synonyms = pd.read_csv("thesauri\WordnetNouns.csv")
synonyms[synonyms.Word == 'time']['Definition'].tolist()

['the continuum of experience in which events pass from the future through the present to the past; he waited for along time; it took some time before he got an answer; time flies like an arrow',
 "a person's experience on a particular occasion; he had a time holding back the tears; they had a good time together",
 'an instance or single occasion for some event; this time he succeeded; he called four times; he could do ten at a clip',
 'an indefinite period (usually marked by specific attributes or activities); the time of year for planting; he was a great actor in his time',
 'a suitable moment; it is time to go',
 "a period of time considered as a resource under your control and sufficient to accomplish something; take time to smell the roses; I didn't have time to finish; it took more than half my time; he waited for a long time"]

In [53]:
toDef = dict()
for noun in nouns:
    defs = synonyms[synonyms.Word == noun]['Definition'].tolist()
    if len(defs) > 0:
        defn = defs[0]
        toDef[noun] = defn.split(';')[0]

In [54]:
toDef['fact']

'a piece of information about circumstances that exist or events that have occurred'

In [55]:
toDef['bird']

'warm-blooded egg-laying vertebrates characterized by feathers and forelimbs modified as wings'

In [73]:
tp_vocab = toki.TOKI.drop_duplicates().tolist()

In [124]:
tp_vocab

['a',
 'akesi',
 'ala',
 'alasa',
 'ale',
 'ali',
 'anpa',
 'ante',
 'anu ',
 'awen',
 'en',
 'esun',
 'ijo',
 'ike',
 'ilo',
 'insa',
 'ipa',
 'jaki',
 'jan',
 'jelo',
 'jo',
 'kala',
 'kalama',
 'kama',
 'kama ',
 'kasi',
 'ken',
 'ken ',
 'kepeken',
 'kepeken ',
 'kili',
 'kin',
 'kipisi ',
 'kipisi',
 'kiwen',
 'ko',
 'kon',
 'kule',
 'kulupu',
 'kute',
 'la ',
 'lape',
 'laso',
 'lawa',
 'len',
 'lete',
 'lili',
 'linja',
 'lipu',
 'loje',
 'lon',
 'lon ',
 'luka',
 'lukin',
 'lukin ',
 'lupa',
 'ma',
 'mama',
 'mani',
 'meli',
 'mi',
 'e mi',
 'mije',
 'moku',
 'moli',
 'monsi',
 'monsuta',
 'mu',
 'mun',
 'musi',
 'mute',
 'namako',
 'nanpa ',
 'nanpa',
 'nasa',
 'nasin',
 'nena',
 'ni',
 'nimi',
 'noka',
 'noka ',
 'o',
 'oko',
 'olin',
 'ona',
 'e ona',
 'open',
 'open ',
 'pakala',
 'pali',
 'palisa',
 'pan',
 'pana',
 'pi ',
 'pilin',
 'pimeja',
 'pini',
 'pini ',
 'pipi',
 'poka',
 'poki',
 'pona',
 'pu',
 'pu ',
 'sama',
 'sama ',
 'seli',
 'selo',
 'seme',
 'sewi',
 'sijelo',
 'sike',
 'sin',
 'sin ',
 'sina',
 'e sina',
 'sinpin',
 'sitelen',
 'sona',
 'sona ',
 'soweli',
 'suli',
 'suno',
 'supa',
 'suwi',
 'tan',
 'tan ',
 'taso',
 'taso ',
 'tawa',
 'tawa ',
 'telo',
 'tenpo',
 'toki',
 'tomo',
 'tu',
 'unpa',
 'uta',
 'utala',
 'walo',
 'wan',
 'waso',
 'wawa',
 'weka',
 'wile',
 'wile ']

In [129]:
d = dict([(tp_vocab[i], []) for i in range(len(tp_vocab))])

In [86]:
df[df.word == 'insane'] #[df.TOKI == 'soweli']

NameError: name 'df' is not defined

In [17]:
df[df.word == 'crazy'] #[df.TOKI == 'soweli']

,Unnamed: 0,word,col1,col2,col3,col4,col5,col6,col7,col8,...,col292,col293,col294,col295,col296,col297,col298,col299,col300,col301
105129,105129,crazy,-0.0887,-0.1246,0.1103,-0.1771,0.006,-0.0371,0.0148,-0.033,...,-0.0404,0.0207,-0.017,0.0511,-0.0008,-0.0223,0.0092,0.0248,0.0145,NaN

In [18]:
dg = pd.read_csv('nimi_pi.csv')

In [19]:
dg

,TOKI,PART_OF_SPEECH,ENG1,ENG2,ENG3,ENG4,ENG5,ENG6,ENG7,ENG8,ENG9,ENG10
0,a,interjection,ah,ha,uh,oh,ooh,aw,well (emotion word),NaN,NaN,NaN
1,a a a!,interjection,laugh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,akesi,adjective,amphibian-,reptilian-,slimy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,akesi,noun,reptile,amphibian; non-cute animal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ala,adjective,no,not,none,un-,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
422,weka,noun,absence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,weka (e ),verb transitive,to remove,to eliminate,to throw away,to get rid of,NaN,NaN,NaN,NaN,NaN,NaN
424,wile,noun,desire,need,will,NaN,NaN,NaN,NaN,NaN,NaN,NaN
425,wile (e ),verb transitive,to want,need,wish,have to,must,will,should,NaN,NaN,NaN
426,wile,auxiliary verb,to want,need,wish,have to,must,will,should,NaN,NaN,NaN

In [1]:
f = ""
for i in range(300):
    f += f"col{i+1} "
print(f)

col1 col2 col3 col4 col5 col6 col7 col8 col9 col10 col11 col12 col13 col14 col15 col16 col17 col18 col19 col20 col21 col22 col23 col24 col25 col26 col27 col28 col29 col30 col31 col32 col33 col34 col35 col36 col37 col38 col39 col40 col41 col42 col43 col44 col45 col46 col47 col48 col49 col50 col51 col52 col53 col54 col55 col56 col57 col58 col59 col60 col61 col62 col63 col64 col65 col66 col67 col68 col69 col70 col71 col72 col73 col74 col75 col76 col77 col78 col79 col80 col81 col82 col83 col84 col85 col86 col87 col88 col89 col90 col91 col92 col93 col94 col95 col96 col97 col98 col99 col100 col101 col102 col103 col104 col105 col106 col107 col108 col109 col110 col111 col112 col113 col114 col115 col116 col117 col118 col119 col120 col121 col122 col123 col124 col125 col126 col127 col128 col129 col130 col131 col132 col133 col134 col135 col136 col137 col138 col139 col140 col141 col142 col143 col144 col145 col146 col147 col148 col149 col150 col151 col152 col153 col154 col155 col156 col157 col158 col159 col160 col161 col162 col163 col164 col165 col166 col167 col168 col169 col170 col171 col172 col173 col174 col175 col176 col177 col178 col179 col180 col181 col182 col183 col184 col185 col186 col187 col188 col189 col190 col191 col192 col193 col194 col195 col196 col197 col198 col199 col200 col201 col202 col203 col204 col205 col206 col207 col208 col209 col210 col211 col212 col213 col214 col215 col216 col217 col218 col219 col220 col221 col222 col223 col224 col225 col226 col227 col228 col229 col230 col231 col232 col233 col234 col235 col236 col237 col238 col239 col240 col241 col242 col243 col244 col245 col246 col247 col248 col249 col250 col251 col252 col253 col254 col255 col256 col257 col258 col259 col260 col261 col262 col263 col264 col265 col266 col267 col268 col269 col270 col271 col272 col273 col274 col275 col276 col277 col278 col279 col280 col281 col282 col283 col284 col285 col286 col287 col288 col289 col290 col291 col292 col293 col294 col295 col296 col297 col298 col299 col300

In [44]:
import numpy as np

def lps(ws: str):
    table = [[0] * len(ws) for _ in range(len(ws))]
    print(table)
    for i in range(len(table)):
        table[i][i] = 1
    for gap in range(1, len(ws)):
        for st in range(len(ws) - gap):
            en = st + gap
            if st == en:
                table[st][en] = 1
            if ws[st] == ws[en]:
                table[st][en] = table[st + 1][en - 1] + 2
            else:
                table[st][en] = max(table[st + 1][en], table[st][en - 1])
    
    return table[0][len(ws) - 1]

result = lps("mmmmm")
print(result)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]
5